[submodule "calvin-base"]
	path = calvin-base
	url = https://github.com/pskarin/calvin-base
[submodule "pyqpgen"]
	path = pyqpgen
	url = https://github.com/pskarin/pyqpgen
[submodule "calvincontrol"]
	path = calvincontrol
	url = https://github.com/pskarin/calvincontrol.git
	branch = CotC
